<p id="notice"></p>
<h1>Books</h1>
<div>
  <table>
    <tr>
      <thead>
        <th>Title</th>
        <th>Body</th>
      </thead>
    </tr>
    <% @lists.each do |list| %>
      <tr>
        <tbody>
          <td>
            <%= list.title %>
          </td>
          <td>
            <%= list.body %>
          </td>
        </tbody>
      </tr>
    <% end %>
  </table>
</div>

<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>

<% end %>
