<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <div class="field">
    <span>Title</span>
    <%= f.text_field :title %>
  </div>
  <div class="area">
    <span>Body</span>
    <%= f.text_area :body %>
  </div>
  <div class="action">
    <%= f.submit 'Update book' %>
  </div>
<% end %>

<div class="Edit_back_link">
    <%= link_to 'Show', book_path(@book.id) %>
    |
    <%= link_to 'Back', books_path %>
</div>
